@import "bower_components/bootstrap/less/bootstrap.less";

@c2:         rgba(255,123,0,0.7);

@panel-c2-text:          @gray-dark;
@panel-c2-border:        darken(@c2, 5%);
@panel-c2-heading-bg:    @c2;

.panel-c2 {
  .panel-variant(@panel-c2-border; @panel-c2-text; @panel-c2-heading-bg; @panel-c2-border);
}

@c4:         rgba(168,209,0,0.7);

@panel-c4-text:          @gray-dark;
@panel-c4-border:        darken(@c4, 5%);
@panel-c4-heading-bg:    @c4;

.panel-c4 {
  .panel-variant(@panel-c4-border; @panel-c4-text; @panel-c4-heading-bg; @panel-c4-border);
}

@c3:         rgba(247,201,0,0.7);

@panel-c3-text:          @gray-dark;
@panel-c3-border:        darken(@c3, 5%);
@panel-c3-heading-bg:    @c3;

.panel-c3 {
  .panel-variant(@panel-c3-border; @panel-c3-text; @panel-c3-heading-bg; @panel-c3-border);
}

@c1:         rgba(219,0,0,0.7);

@panel-c1-text:          @gray-dark;
@panel-c1-border:        darken(@c1, 5%);
@panel-c1-heading-bg:    @c1;

.panel-c1 {
  .panel-variant(@panel-c1-border; @panel-c1-text; @panel-c1-heading-bg; @panel-c1-border);
}

@c6:         rgba(138,0,0,0.7);

@panel-c6-text:          @gray-dark;
@panel-c6-border:        darken(@c6, 5%);
@panel-c6-heading-bg:    @c6;

.panel-c6 {
  .panel-variant(@panel-c6-border; @panel-c6-text; @panel-c6-heading-bg; @panel-c6-border);
}

@c5:         rgba(0,142,207,0.7);

@panel-c5-text:          @gray-dark;
@panel-c5-border:        darken(@c5, 5%);
@panel-c5-heading-bg:    @c5;

.panel-c5 {
  .panel-variant(@panel-c5-border; @panel-c5-text; @panel-c5-heading-bg; @panel-c5-border);
}

li.message {
  padding: 10px;
}

.message span {
  xmargin :7px;
  xpadding: 7px;
  border-radius: 5px;
  xfont-size: 14pt;  
}

.c1 {
  background-color: @c1;
}

.c6 {
  background-color: @c6;
}

.c5 {
  background-color: @c5;
}

.c3 {
  background-color: @c3;
}

.c4 {
  background-color: @c4;
}

.c2 {
  background-color: @c2;
}

.overflowvisible {
  .panel {
    overflow: visible;
  }
}

.animate-enter, .animate-leave {
	-webkit-transition: 1s linear all; /* Chrome */
	transition: 1s linear all;
	opacity: 0;
}
 
.animate-enter.animate-enter-active {
	opacity: 1;
}

.animate-leave.animate-leave-active {
    opacity: 0;
}
