@import "bower_components/bootstrap/less/bootstrap.less";

@Schedule:         rgba(168,209,0,0.7);

@panel-Schedule-text:          @gray-dark;
@panel-Schedule-border:        darken(@Schedule, 5%);
@panel-Schedule-heading-bg:    @Schedule;

.panel-Schedule {
  .panel-variant(@panel-Schedule-border; @panel-Schedule-text; @panel-Schedule-heading-bg; @panel-Schedule-border);
}

@Activity:         rgba(247,201,0,0.7);

@panel-Activity-text:          @gray-dark;
@panel-Activity-border:        darken(@Activity, 5%);
@panel-Activity-heading-bg:    @Activity;

.panel-Activity {
  .panel-variant(@panel-Activity-border; @panel-Activity-text; @panel-Activity-heading-bg; @panel-Activity-border);
}

@Presence:         rgba(0,142,207,0.7);

@panel-Presence-text:          @gray-dark;
@panel-Presence-border:        darken(@Presence, 5%);
@panel-Presence-heading-bg:    @Presence;

.panel-Presence {
  .panel-variant(@panel-Presence-border; @panel-Presence-text; @panel-Presence-heading-bg; @panel-Presence-border);
}

@Actions:         rgba(219,0,0,0.7);

@panel-Actions-text:          @gray-dark;
@panel-Actions-border:        darken(@Actions, 5%);
@panel-Actions-heading-bg:    @Actions;

.panel-Actions {
  .panel-variant(@panel-Actions-border; @panel-Actions-text; @panel-Actions-heading-bg; @panel-Actions-border);
}

@AmbientLight:         rgba(138,0,0,0.7);

@panel-AmbientLight-text:          @gray-dark;
@panel-AmbientLight-border:        darken(@AmbientLight, 5%);
@panel-AmbientLight-heading-bg:    @AmbientLight;

.panel-AmbientLight {
  .panel-variant(@panel-AmbientLight-border; @panel-AmbientLight-text; @panel-AmbientLight-heading-bg; @panel-AmbientLight-border);
}

@Lights:         rgba(255,123,0,0.7);

@panel-Lights-text:          @gray-dark;
@panel-Lights-border:        darken(@Lights, 5%);
@panel-Lights-heading-bg:    @Lights;

.panel-Lights {
  .panel-variant(@panel-Lights-border; @panel-Lights-text; @panel-Lights-heading-bg; @panel-Lights-border);
}

li.message {
  padding: 10px;
}

.message span {
  xmargin :7px;
  xpadding: 7px;
  border-radius: 5px;
  xfont-size: 14pt;  
}

.Actions {
  background-color: @Actions;
}

.AmbientLight {
  background-color: @AmbientLight;
}

.Lights {
  background-color: @Lights;
}

.Presence {
  background-color: @Presence;
}

.Activity {
  background-color: @Activity;
}

.Schedule {
  background-color: @Schedule;
}

.overflowvisible {
  .panel {
    overflow: visible;
  }
}

.animate-enter, .animate-leave {
	-webkit-transition: 1s linear all; /* Chrome */
	transition: 1s linear all;
	opacity: 0;
}
 
.animate-enter.animate-enter-active {
	opacity: 1;
}

.animate-leave.animate-leave-active {
    opacity: 0;
}
