{{define "now"}}
    <div class="panel panel-message">
      <div class="panel-heading">
	<h4 class="panel-title">
	  Messages <small>Now</small>
	  <span class="glyphicon glyphicon-retweet pull-right" ng-click="nowThenFlip()"></span>
	</h4>
      </div>
      <ul id="messages" class="list-group">
	<li ng-repeat="message in nowMessages" ng-animate=" 'animate' " class="list-group-item message [[bitClass(message.Who)]]">[[message.Who]]: <span class="what">[[message.What]]</span>
	</li>
	<li class="list-group-item">
	  <form xclass="form-inline" ng-submit="sendMessage(message, 'input')" autocomplete="off">
	    <input id="iAm" class="form-control" type="text" typeahead="activity for activity in allMessages() | filter:$viewValue" ng-model="message" placeholder="message to Marvin">
	    <input type="hidden" ng-model="state.Activity">
	    <!--<button type="submit" class="btn">Add</button>-->
	  </form>
	</li>
      </ul>
    </div>

{{end}}

{{define "then"}}
    <div class="panel panel-message">
      <div class="panel-heading">
	<h4 class="panel-title">
	  Messages <small>Then</small> <span class="glyphicon glyphicon-retweet pull-right" ng-click="nowThenFlip()"></span>
	</h4>
      </div>
      <ul class="list-group">
	<li ng-repeat="message in thenMessages" ng-animate=" 'animate' " class="list-group-item message [[bitClass(message.Who)]]">[[message.Who]]: <span class="what">[[message.What]]</span>
	</li>
      </ul>
    </div>
{{end}}

{{define "content"}}

  {{with .Marvin}}

<div ng-controller="MarvinCtrl">

  <div class="alert alert-info" ng-repeat="message in state.Messages">
    [[message]]
  </div>

  <div class="alert alert-error" ng-repeat="error in errors">
    [[error]]
  </div>

  <div class="alert alert-error" ng-repeat="error in state.Hue.Errors">
    [[error.Error.Description]]
  </div>

  <div class="bits col-xs-12 col-sm-5 col-md-5 col-lg-5 col-sm-push-7 col-md-push-7 col-lg-push-7">
    <div class="panel-group overflowvisible">
      <div ng-repeat="(k, v) in state.Bits track by $index" class="panel panel-default panel-[[bitClass(k)]]">
	<div class="panel-heading">
	  <h4 class="panel-title">
            <a data-toggle="collapse" data-target="#collapse[[k.replace(' ', '')]]">
	      [[k]]
            </a>
	    <span ng-switch on="state.Switch[k]" class="pull-right">
	      <span ng-switch-when="true" class="glyphicon glyphicon-check" ng-click="changeState(k, false)"></span>
	      <span ng-switch-when="false" class="glyphicon glyphicon-unchecked" ng-click="changeState(k, true)"></span>
	    </span>
	  </h4>
	</div>
	<div id="collapse[[k.replace(' ', '')]]" class="panel-collapse collapse">
	  <div compile="state.templates[k]"></div>
	</div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 col-sm-pull-5 col-md-pull-5 col-lg-pull-5">
    <div id="nowthen" class="flip-container" xontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
	<div class="front">
	  {{template "now" .}}
	</div>
	<div class="back">
	  {{template "then" .}}
	</div>
      </div>
    </div>
  </div>

</div>

  {{end}}

{{end}}
