{{define "content"}}

  {{with .Marvin}}

<div ng-controller="MarvinCtrl">

  <div class="alert alert-info" ng-repeat="message in state.Messages">
    [[message]]
  </div>

  <div class="alert alert-error" ng-repeat="error in errors">
    [[error]]
  </div>

  <div class="row">

    <h2>Senses</h2>

    <div class="col-lg-6">
      <h3>Presence</h3>
      {{template "presence" .}}
    </div>

    <div class="col-lg-6">
      <h3>Sensors</h3>
      {{template "sensors" .}}
    </div>

  </div>

  {{end}}

<div>
{{end}}
