{{define "content"}}

{{with .Scheduler.Hue}}

<div class="content">
  <div class="span12">
    <h1>Transitions</h1>
    {{range $k,$v := .Transitions}}
    <h2 href="#{{$k}}" data-toggle="tab">{{$k}}
      <small>
	<a class="transition" data-transition="{{$k}}"><i class="icon-play"></i></a>
      </small>
    </h2>
    <dl class="dl-horizontal">{{range $v}}
      <dt>{{.Light}}</dt><dd>{{.State}} {{.Action}}</dd>{{end}}
    </dl>
    {{end}}
  </div>
</div>

{{end}}

{{end}}


{{define "javascript"}}

$('.transition').on('tap click', function (e) {
    var transition = $(this).data("transition")
    $.ajax({
	url: "/?" + $.now(),
	type: "POST",
	cache: false,
	data: {"do_transition": transition},
	statusCode: {
	    404: function() {
	    },
	    200: function() {
	    }
	},
	dataType: "html"
    });
});

{{end}}
