{{define "content"}}
      {{with .Marvin}}
      {{with .Hue}}
<div class="row-fluid">
  <div class="span12">

    <h2>Hue</h2>
    <dl class="dl-horizontal">
      <dt>Host</dt>
      <dd>{{.Host}}</dd>
    </dl>

    <h2>Transitions</h2>
    <table class="table table-condensed table-striped">
      <thead>
	<tr>
	  <th scope="col">Name</th>
	  <th scope="col">Commands</th>
	</tr>
      </thead>
      <tbody>{{range $k,$v := .Transitions}}
	<tr>
	  <td><a class="transition btn btn-block" data-transition="{{$k}}">{{$k}} <i class="icon-play"></i></a></td>
	  <td>
	    <dl class="dl-horizontal">{{range $v}}
	      <dt>{{.Light}}</dt><dd>{{.State}} {{.Action}}</dd>{{end}}
	    </dl>
	  </td>
	</tr>{{end}}
      </tbody>
    </table>
 
      <h3>States</h3>
      <dl class="dl-horizontal">{{range $k,$v := .States}}
	<dt>{{$k}}</dt> <dd>{{$v}}</dd>{{end}}
      </dl>

  </div>
</div>
      {{end}}
      {{end}}
{{end}}
