{{define "html"}}<!DOCTYPE html>
<html lang="en" ng-app="MarvinApp">
  <head>
    <script src="/{{.Version}}/js/marvin.js"></script>

    <meta charset="utf-8">
    <title>{{if .}}{{with .Title}}{{.}} « {{end}}Marvin{{else}}Not Found{{end}}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <link href="/{{.Version}}/css/marvin.min.css" rel="stylesheet">
    <link href="/{{.Version}}/images/robot.png" rel="icon" type="image/png">
    <link href="/{{.Version}}/images/robot.png" rel="apple-touch-icon">
  </head>

  <body>
    <div id="brand"></div>
    {{if .}}{{template "content" .}}{{else}}<h1>Not Found</h1>{{end}}
    <footer>
      <p class="text-muted credit"><a href="http://github.com/eikeon/Marvin">Marvin</a> {{.Version}}.</p>
      <p class="text-muted credit">Glyphicons by <a href="http://glyphicons.com">GLYPHICONS</a>.</p>
    </footer>
  </body>
</html>{{end}}

