{{define "html"}}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{if .}}{{with .Title}}{{.}} « {{end}}Marvin{{else}}Not Found{{end}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <style>
@media (max-width: 767px) {
  .dl-horizontal dt {
      float: left;
      width: 120px;
      clear: left;
      text-align: right;

  }
  .dl-horizontal dd {
      margin-left: 135px;
  }
}
    </style>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Marvin</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li><a href="/schedule/">Schedule</a></li>
              <li><a href="/transition/">Transition</a></li>
              <li><a href="/hue/">Hue</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container-fluid">
      {{if .}}{{template "content" .}}{{else}}<h1>Not Found</h1>{{end}}
    </div>
    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script>
(function($) {
    function initPage() {
        $('ul.nav > li > a[href="' + document.location.pathname + '"]').parent().addClass('active');
        $('a').tooltip()
    }
    $(initPage);

})(jQuery)

$('.transition').on('tap click', function (e) {
    var transition = $(this).data("transition")
    $.ajax({
	url: "/post?" + $.now(),
	type: "POST",
	cache: false,
	data: {"sentence": "do_hue " + transition + "."},
	statusCode: {
	    404: function() {
	    },
	    200: function() {
	    }
	},
	dataType: "html"
    });
});

$('.do_not_disturb').on('tap click', function (e) {
    var state;
    if (this.checked) {
        state = "off";
    } else {
        state = "on";
    }
    $.ajax({
	url: "/post?" + $.now(),
	type: "POST",
	cache: false,
	data: {"sentence": "turn_scheduler " + state + "."},
	statusCode: {
	    404: function() {
	    },
	    200: function() {
	    }
	},
	dataType: "html"
    });
});

    </script>
  </body>
</html>{{end}}

{{define "schedule"}}
      {{with .Scheduler}}

<div class="row-fluid">
  <div class="span12">
    <h2>Schedule</h2>
    <table class="table table-condensed table-striped">
      <thead>
	<tr>
	  <th scope="col">Time</th>
	  <th scope="col">On</th>
	  <th scope="col">Except</th>
	  <th scope="col">Transition</th>
	</tr>
      </thead>
      <tbody>{{range .Schedule}}
	<tr>
	  <td>{{.When}}</td>
	  <td>{{if .On}}{{.On}}{{end}}</td>
	  <td>{{if .ExceptOn}}{{.ExceptOn}}{{end}}</td>
	  <td>{{.What}}<a class="transition" data-transition="{{.What}}"><i class="icon-play"></i></a></td>
	</tr>{{end}}
      </tbody>
    </table>

    <form class="form-inline">
      <label class="checkbox">
        <input type="checkbox" class="do_not_disturb"{{if .DoNotDisturb}} checked=""{{end}}> Do not disturb
      </label>
    </form>

  </div>
</div>

      {{end}}
{{end}}

{{define "transitions"}}

  {{with .Scheduler.Hue}}

<div class="row-fluid">
  <div class="span12">
    <h2>Transitions</h2>
    <table class="table table-condensed table-striped">
      <thead>
	<tr>
	  <th scope="col">Name</th>
	  <th scope="col">Commands</th>
	</tr>
      </thead>
      <tbody>{{range $k,$v := .Transitions}}
	<tr>
	  <td>{{$k}} <a class="transition" data-transition="{{$k}}"><i class="icon-play"></i></a></td>
	  <td>
	    <dl class="dl-horizontal">{{range $v}}
	      <dt>{{.Light}}</dt><dd>{{.State}} {{.Action}}</dd>{{end}}
	    </dl>
	  </td>
	</tr>{{end}}
      </tbody>
    </table>
  </div>
</div>

  {{end}}

{{end}}
