{{define "html"}}<!DOCTYPE html>
<html lang="en" ng-app="MarvinApp">
  <head>
    <script src="/js/angular.min.js"></script>
    <script src="/js/ui-bootstrap-tpls-0.4.0.min.js"></script>
    <script>

angular.module('MarvinApp', ['ui.bootstrap'], function ($interpolateProvider) {
  $interpolateProvider.startSymbol('[[');
  $interpolateProvider.endSymbol(']]');
});

function MarvinCtrl($scope) {
    $scope.state = {};
    $scope.errors = [];
    $scope.connection = null;

    $scope.NewConnection = function() {
	connection = new WebSocket('ws://'+document.location.host+'/state');

	connection.onopen = function () {
	};

	connection.onclose = function (e) {
	};

	connection.onerror = function (error) {
	    console.log('WebSocket Error ' + error);
            $scope.$apply(function () {
		$scope.errors.push(error)
	    });
	};

	connection.onmessage = function(e) {
	    $scope.$apply(function () {
		$scope.state = JSON.parse(e.data);
	    });
	};
	$scope.connection = connection
    };

    $scope.changeState = function(name, value) {
	var m = {"action": "updateSwitch", "name": name, "value": value};
	$scope.connection.send(JSON.stringify(m));
    };

    $scope.ON = {"on": true};
    $scope.OFF = {"on": false};

    $scope.setLightState = function(id, value) {
	var m = {"action": "setLightState", "id": id, "value": value};
	$scope.connection.send(JSON.stringify(m));
    };

    $scope.allActivities = function() {
	return Object.keys($scope.state.Activities);
    };

    $scope.updateActivity = function(source, target) {
	$.ajax({
	    url: "/activities/?" + $.now(),
	    type: "POST",
	    cache: false,
	    data: {
		"sourceActivity": source,
		"targetActivity": target},
	    statusCode: {
		404: function() {
		},
		200: function() {
		}
	    },
	    dataType: "html"
	});
	$scope.targetActivity = "";
    };

    $scope.nextActivities = function(query, process) {
	return $scope.state.NextActivities;
    };

    $scope.getBrightness = function(state) {
	return Math.round(state["Bri"] / 255 * 100, 0);
    }

    $scope.getColor = function(state) {
	if (state["ColorMode"]=="xy") {
	    // Calculate the closest point on the color gamut triangle and use that as xy value See step 6 of color to xy.
	    var x = state["Xy"][0];
	    var y = state["Xy"][1];
	    var z = 1.0 - x - y;
	    var Y = 0.5; //TODO brightness; // The given brightness value
	    var X = (Y / y) * x;
	    var Z = (Y / y) * z;

	    // Convert to RGB using Wide RGB D65 conversion
	    var r = X * 1.612 - Y * 0.203 - Z * 0.302;
	    var g = -X * 0.509 + Y * 1.412 + Z * 0.066;
	    var b = X * 0.026 - Y * 0.072 + Z * 0.962;

	    if (r <= 0.0031308) {
		r = 12.92 * r;
	    } else {
		r = (1.0 + 0.055) * Math.pow(r, (1.0 / 2.4)) - 0.055;
	    }
	    if (g <= 0.0031308) {
		g = 12.92 * g;
	    } else {
		g = (1.0 + 0.055) * Math.pow(g, (1.0 / 2.4)) - 0.055;
	    }
	    if (b <= 0.0031308) {
		b = 12.92 * b;
	    } else {
		b = (1.0 + 0.055) * Math.pow(b, (1.0 / 2.4)) - 0.055;
	    }
	    r = Math.round(r * 255, 0); g = Math.round(g * 255, 0); b = Math.round(b * 255, 0);
	    // TODO: getting values bigger than 255
	    return "rgb(" + r + "," + g + "," + b + ")";
        } if (state["ColorMode"]=="hs") {
	    hue = Math.round(state["Hue"] / 65535 * 360, 2);
	    saturation = Math.round(state["Sat"] / 255 * 100, 2);
	    brightness = 50; // TODO: Math.round(state["Bri"] / 255 * 100, 2);
	    return "hsl(" + hue + "," + saturation + "%," + brightness +"%)";
	} else {
	    return "TODO: color mode: " + state["ColorMode"];
	}
    };

    $(window).on("pageshow", function() {
	$scope.NewConnection();
    });

    $(window).on("pagehide", function() {
	$scope.connection.close();
    });
}
    </script>

    <meta charset="utf-8">
    <title>{{if .}}{{with .Title}}{{.}} « {{end}}Marvin{{else}}Not Found{{end}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <style>
@media (max-width: 767px) {
  .dl-horizontal dt {
      float: left;
      width: 120px;
      clear: left;
      text-align: right;

  }
  .dl-horizontal dd {
      margin-left: 135px;
  }
}
    </style>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Marvin</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li><a href="/schedule/">Schedule</a></li>
              <li><a href="/hue/">Hue</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container-fluid">
      {{if .}}{{template "content" .}}{{else}}<h1>Not Found</h1>{{end}}
    </div>
    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script>
(function($) {
    function initPage() {
        $('ul.nav > li > a[href="' + document.location.pathname + '"]').parent().addClass('active');
        $('a').tooltip()
    }
    $(initPage);

})(jQuery)

$('.transition').on('tap click', function (e) {
    var transition = $(this).data("transition")
    $.ajax({
	url: "/post?" + $.now(),
	type: "POST",
	cache: false,
	data: {"do_transition": transition},
	statusCode: {
	    404: function() {
	    },
	    200: function() {
	    }
	},
	dataType: "html"
    });
});

    </script>
  </body>
</html>{{end}}

{{define "schedule"}}
      {{with .Marvin}}

<div class="row-fluid">
  <div class="span12">
    <h2>Schedule</h2>
    <table class="table table-condensed table-striped">
      <thead>
	<tr>
	  <th scope="col">Time</th>
	  <th scope="col">On</th>
	  <th scope="col">Except</th>
	  <th scope="col">Transition</th>
	</tr>
      </thead>
      <tbody>{{range .Schedule}}
	<tr>
	  <td>{{.When}}</td>
	  <td>{{if .On}}{{.On}}{{end}}</td>
	  <td>{{if .ExceptOn}}{{.ExceptOn}}{{end}}</td>
	  <td><a class="transition btn btn-block" data-transition="{{.What}}">{{.What}} <i class="icon-play"></i></a></td>
	</tr>{{end}}
      </tbody>
    </table>

  </div>
</div>

      {{end}}
{{end}}
