<table class="table table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th><i class="icon-off"></i> State</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="(name, group) in state.Hue.Datastore.groups">
      <td>[[group.name]]</td>
      <td>
	<div ng-switch on="group.action.on" class="btn-group">
	  <button
	     ng-switch-when="true"
	     type="button" class="btn btn-default btn-lg"
	     style="color: black; background-color: [[getColor(group.action)]]"
	     ng-click="setHue('/groups/'+name+'/action', OFF, 'lightgroups')">On</button>
	  <button
	     ng-switch-when="false"
	     type="button" class="btn btn-default btn-lg"
	     ng-click="setHue('/groups/'+name+'/action', ON, 'lightgroups')">Off</button>
	  <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown">
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" role="menu">
	    <li ng-repeat="choice in allStates()">
	      <a class="btn btn-lg" ng-click="setHue('/groups/'+name+'/action', state.States[choice], 'lightgroups')"
		 style="color: black; background-color: [[getColor(state.States[choice])]]">[[choice]]</a>
	    </li>
	  </ul>
	</div>
      </td>
    </tr>
    <tr ng-repeat="(name, light) in state.Hue.Datastore.lights">
      <td>[[light.name]]</td>
      <td>
	<div ng-switch on="light.state.on" class="btn-group">
	  <button
	     ng-switch-when="true"
	     type="button" class="btn btn-default btn-lg"
	     style="color: black; background-color: [[getColor(light.state)]]"
	     ng-click="setHue('/lights/'+name+'/state', OFF, 'lightbulbs')">On</button>
	  <button
	     ng-switch-when="false"
	     type="button" class="btn btn-default btn-lg"
	     ng-click="setHue('/lights/'+name+'/state', ON, 'lightbulbs')">Off</button>
	  <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown"
		  style="color: black; background-color: [[getColor(light.state)]]">
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" role="menu">
	    <li ng-repeat="choice in allStates()">
	      <a class="btn btn-lg" ng-click="setHue('/lights/'+name+'/state', state.States[choice], 'lightbulbs')"
		 style="color: black; background-color: [[getColor(state.States[choice])]]">[[choice]]</a>
	    </li>
	  </ul>
	</div>
      </td>
    </tr>
  </tbody>
</table>
